h1{ 
	color:blue; 
	background-color: green;
	font-size: 32px;
	font-weight: bold;

}
h1.changeColor#magnetoQuote{
	color: green;
}

.colorChange{
	color: red;

}
.differentFont{
	font-family: Arial;
}
#aboutText{ 
	font-style:italic ; 
}
html{
	background: blue;
}